body {
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fefefe;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    font-size: 20px;
    color: orange;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.container {
    /* max-width: 1000px; */
    max-width: 1500px;
    margin: 30px auto;
    padding: 0 20px;
}

.card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background: white;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-3px);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.btn {
    font-size: 14px;
}

h1,
h2,
h3 {
    color: #444;
}

/* ページネーション用 */
.pagination {
    justify-content: center;
    margin-top: 40px;
    /* 追加　↓ */
    display: flex;
    list-style: none;
    padding: 0;
    gap: 8px;
    align-items: center;
}

.pagination li a,
.pagination li span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #333;
    transition: 0.2s;
    background-color: white;
}

/* ホバー時 */
.pagination li a:hover {
    background-color: #eee;
}

/* 現在ページのスタイル */
.pagination li.active span {
    background-color: #ffc107;
    color: #fff;
    font-weight: bold;
    border-color: #ffc107;
}

/* 矢印（prev/next）の調整（お好みで） */
.pagination li:first-child a,
.pagination li:last-child a {
    font-weight: bold;
}


/* 商品リスト側スタイル */
.card-img-top {
    /* height: 280px; */
    width: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.2rem;
}

.card-text {
    font-size: 1.1rem;
}

.search-area {
    width: 220px;
}
